body {
    background-color: rgb(245, 245, 245);
    font-family: manrope !important;
}
.md a:link, .md a:visited {
    font-family: manrope !important;
}
.md img {
    border-radius: 8px;
}
@font-face {
    font-family: manrope;
    src: url(manrope.ttf);
}
.image {
    margin-left: 0 !important;
}
html {font-size: 20px;}
.card {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    overflow: auto;
}
.md h2, .md .nonumberh2 {
    font-size: 23;
    color: black;
    border-bottom: 3px solid black;
}
.md h1, .md .nonumberh1 {
    font-size: 18;
    color: #444;
    border-bottom: 3px solid #444;
}
@media only screen and (min-width: 1270px) {
    .md .longTOC {
        display: block;
        white-space: nowrap;
        width: 260px;
        overflow-y:hidden;
        font-size: 18px;
        position: fixed;
        left: 00px;
        top: 0px;
        bottom:0px;
        margin: 0px;
        padding: 0px;
        padding-left: 20px;
        z-index: -1;
    }
    .money {
        display: block;
        width: 260px;
        overflow-y: show;
        position: fixed;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin: 0px;
        padding: 0px;
        padding-right: 20px;
        padding-top: 20px;
        padding-left: 30px;
        z-index: -1;
    }
}

.md pre.tilde
{
    resize: vertical;
    width: auto;
}

.test {
    color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid black;
    transition: color 1s, border 1s;
}

.test:hover {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
