#politics .politicalsidebar {
    position: absolute;
    border-radius: 8px 0 0 8px;
    width: 25%; height: 100%;
    border-right: 1px solid var(--border);
    top: 0; left: 0;
    background-color: var(--sidebar);
    padding-left: 1vw;
    padding-right: 1vw;
}

#politics .politicalcontent {
    position: absolute;
    left: 29%; right: 0;
    padding-left: 2%;
    top: 0; height: 100%;
    font-size: 1.2vw;
    font-family: "nunito" !important;
}

#politics .politicalcontent > div {
    position: absolute;
    overflow: auto;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
}

/* Messing with the scrollbar to avoid ruining the look */
::-webkit-scrollbar {
  width: 17px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px var(--bg);
	border: solid 5px transparent;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px var(--border);
    border: solid 5px transparent;
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px var(--border);
    border: solid 5px transparent;
    border-radius: 15px;
}

#politics .politicalcontent > div > p {
    text-align: justify;
    text-indent: 7%;
    width: 97%;
    margin-right: 0;
}

.politicalsidebar #avatar {
    border-radius: 100%;
    height: 10vw;
    position: absolute;
    top: 2vw; left: 3.5vw;
}

.politicalsidebar #description {
    position: absolute;
    margin-left: 0;
    left: 8%; width: 84%;
    top: 12vw; height: 50%;
    font-size: calc(1.05vh + 0.85vw);
}

.flyout {
    width: 100%;
    height: 5vh;
    border-radius: 0 5px 5px 0;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.17);
    background-color: var(--bg);
    margin-bottom: 1vh;
    margin-left: -1px;
    font-size: 1.5vw;
    color: var(--fg);
    transition: box-shadow .5s, border-radius .5s, margin .5s, width .5s;
} .flyout:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    width: 110%;
    margin-left: -5%;
    cursor: pointer;
}

.flyoutcontainer {
    position: absolute;
    left: 100%;
    width: 19vw;
    top: 5%;
    height: 70%;
}

.blogpost {
    width: 97.5%;
    margin-left: 2.5%;
    height: 20vh;
    margin-bottom: 1vh;
    font-size: 1.1vw;
    overflow: hidden;
    position: relative;
    margin-top: 2vh;
    cursor: pointer;
}

.blogpost p {
    padding: 1vh;
    margin: 0;
}

.blogpost .fadeout {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    transition: opacity .5s;
    background: linear-gradient(0deg, var(--bg) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
}

.bloglink {
    width: 90%;
    margin-top: 2vh;
    margin-left: 5%;
    cursor: pointer;
    font-size: 2.5vh;
    transition: background-color .5s, color .5s;
} .bloglink:hover {
    background-color: #d10700;
    color: white;
}

.bloglink p {
    margin: .8vh;
}

a {
    text-decoration: none;
}
