button {
	background-color: #b5d3ff;
	border: none;
	height: 45px;
	width: 50px;
	padding: 0;
	margin: 0;
	transition: background-color 100ms;
	cursor: pointer;
}

button:hover {
	background-color: #dbeaff;
}

p, button {
	font-family: 'Open Sans', sans-serif;
}

