#poetry.selected.center {transform: translateY(-25%) scale(1, 0.5) rotateY(-180deg) rotateX(0deg)}
#poetry .back {transform: translateY(50%) scale(1, 2) rotateY(180deg);}

/* Insta grid */

.flex-grid img {
    width: 7vw;
    margin: .3vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.23), 0 6px 6px rgba(0,0,0,0.31);
    border-radius: 10px;
    transition: transform .5s, margin .5s;
    pointer-events: auto;
    cursor: pointer;
}
.flex-grid {
    perspective: 1200px;
    pointer-events: none;
}
#instagrid {
    position: absolute; top: 40%;
    left: 65%;
    /*background-color: red;*/
    width: 25vw;
    transition: transform .5s;
    transform: translateY(-50%);
} #poetry.loaded #instagrid {
    transform: translateY(0);
}
#card-holder {
    position: absolute; top: 40%;
    left: 3vw;
    /*background-color: red;*/
    width: 33vw; height: 55%;
    perspective: 1500px;
}
#category-holder {
    position: absolute; top: 40%;
    left: -4vw;
    /*background-color: red;*/
    width: 6vw; height: 25%;
}
.poetrycard {
    position: relative; z-index: 5; /* choosen by fair dice roll */
    width: 100%;
    height: 35%;
    margin-bottom: -7vh;
    transform: translateY(-100%);
    transition: margin-bottom .5s, box-shadow .5s, transform .5s, margin .5s, height .5s, opacity .5s;
    box-shadow: 0 0 20px rgba(0,0,0,0.19);
    overflow: hidden;
    cursor: pointer;
} #poetry.loaded .poetrycard:hover {
    margin-bottom: .5vh;
    box-shadow: 0 0 20px rgba(0,0,0,0.26);
} .poetrycard pre {
    font-family: "pleasewritemeasong" !important;
    font-size: 1.9vw;
    margin: 1vw;
    text-align: justify;
} .poetrycard .fadeout {
    position: absolute;
    width: 100%; height: 100%;
    top: 0; left: 0;
    transition: opacity .5s;
    background: linear-gradient(0deg, var(--bg) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
} .poetrycard.hidden {
    height: 0;
    margin-bottom: 0;
    opacity: 0;
} .poetrycard.popup {
    height: 170%;
    margin-top: -30vh;
} .poetrycard.popup ~ .poetrycard {
    opacity: 0;
} .poetrycard.popup .fadeout {
    opacity: 0;
} #poetry.loaded .poetrycard {
    transform: translateY(0);
}

.categorycard {
    width: 100%;
    height: 5vh;
    margin-bottom: 1vh;
    font-size: 1.4vw;
    transition: margin .5s, transform .5s;
    cursor: pointer;
    transform: translatey(-500%);
} .categorycard:hover {
    transform: translateZ(10px);
} #poetry.loaded .categorycard {
    transform: translateY(0);
}

#rightpart {
    position: absolute;
    top: 0; right: 0;
    width: 35%; height: calc(50% - 1px);
    border-left: 1px solid var(--border);
    border-radius: 0px 4px 4px 0px;
    background-color: var(--sidebar);
    font-size: 1.3vw;
}

#leftpart {
    position: absolute;
    top: 0; left: 0;
    width: 66%; height: calc(50% - 1px);
    font-size: 1.5vw;
}
